server:
  port: 8080
  context-path: /
  tomcat:
    uri-encoding: UTF-8
    max-http-header-size: 3145728

spring:
  thymeleaf:
    cache: false
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/blog
    username: root
    password: limin123
    driver-class-name: com.mysql.jdbc.Driver
    type: com.alibaba.druid.pool.DruidDataSource

mybatis:
  configuration:
    map-underscore-to-camel-case: true
    cache-enabled: true
    use-generated-keys: true
    jdbc-type-for-null: null
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  mapper-locations: classpath:mapper/*.xml

pagehelper:
  reasonable: true

logging:
  level:
#     root: debug
     org.springframework.web: debug
#     com.limin.blog.mapper: debug