<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/head}">
<head>
	<title>[[${user.name}]]的博客</title>
	<link th:href="@{/css/user/articles.css}" rel="stylesheet">
	<script th:src="@{/js/user/articles.js}"></script>
</head>
<body>
<div layout:fragment="content">
	<div id="main">
		<div id="top">
			<p>[[${user.name}]]</p>
			<p>[[${user.motto}]]</p>
		</div>
		<div id="articles" style="margin-top: 0px;" class="layui-tab layui-tab-brief" lay-filter="test1">
			<ul class="layui-tab-title">
				<li class="layui-this" lay-id="0">文章</li>
				<li lay-id="1">帖子</li>
			</ul>

			<div class="layui-tab-content">
				<div class="layui-tab-item layui-show">
					<div style="margin-bottom: 20px;">
						<a class="pull-left" th:href="@{/article/list/{id}(id=${uid})}">全部文章</a>&nbsp;
						<div class="pull-left" style="display: block;" th:text="${title}==null?'':' / '+${title}"></div>
					</div>
					<div id="article"></div>
					<div style="clear:both;"></div>
				</div>
				<div class="layui-tab-item"></div>
			</div>
		</div>

		<input id="uid" type="hidden" name="uid" th:value="${uid}"/>
		<input id="cid" type="hidden" name="cid" th:value="${cid}?${cid}"/>

		<div id="side">
			<div id="user-info">
				<div id="header">
					<img th:src="@{${user.headUrl}}" style="border-radius: 50%;">
					<div>
						<span th:text="${user.name}"></span>
						<button id="follow"
								th:if="(${session.login_user}==null)or((${session.login_user.id}!=${user.id})and((${follow}!=null)and(${follow.status}!='2')))"
								th:class="(${follow}==null)or(${follow.status}=='0')?'unfollow layui-btn layui-btn-sm layui-btn-primary':'follow layui-btn layui-btn-sm'"
								th:text="(${follow}==null)or(${follow.status}=='0')?'关注':'已关注'"></button>
						<button id="mail"
								th:if="(${session.login_user}==null)or((${session.login_user.id}!=${user.id})and((${follow}!=null)and(${follow.status}!='2')))"
								class="layui-btn layui-btn-sm">私信</button>
						<button id="black" th:if="(${session.login_user}==null)or(${session.login_user.id}!=${user.id})"
								th:class="(${follow}!=null)and(${follow.status}=='2')?'layui-btn layui-btn-sm black':'layui-btn layui-btn-primary layui-btn-sm white'"
								th:text="(${follow}!=null)and(${follow.status}=='2')?'已拉黑':'黑名单'"></button>
						<input type="hidden" id="toUserId" th:value="${user.id}">
						<input type="hidden" id="loginUserId" th:value="${session.login_user}!=null?${session.login_user.id}:''">
					</div>
				</div>
				<!--<div id="num">-->
					<!--<dl>-->
						<!--<dt>入驻时间</dt>-->
						<!--<dd th:text="${#dates.format(user.birth,'yyyy.MM.dd')}"></dd>-->
					<!--</dl>-->
					<!--<dl>-->
						<!--<dt>文章</dt>-->
						<!--<dd>12</dd>-->
					<!--</dl>-->
					<!--<dl>-->
						<!--<dt>关注</dt>-->
						<!--<dd>32</dd>-->
					<!--</dl>-->
				<!--</div>-->
			</div>
			<div class="side-list">
				<h3>文章分类</h3>
				<ul class="list">
					<li th:if="${categories} != null and ${#lists.size(categories) > 0}" th:each="category : ${categories}">
						<a th:href="@{/article/list/{uid}/{cid}(uid=${user.id},cid=${category.id})}" th:text="${category.name}"></a>
						<span th:text="${category.articleNum}"></span>
					</li>
				</ul>
				<div style="clear: both"></div>
			</div>
			<div class="side-list">
				<h3>文章归档</h3>
				<ul class="list">
					<li th:if="${archives} != null and ${#lists.size(archives) > 0}" th:each="archive : ${archives}">
						<span style="float: left" th:text="${archive['date']}"></span>
						<span th:text="${archive['count']}"></span>
					</li>
				</ul>
				<div style="clear: both"></div>
			</div>
		</div>
		<div style="clear: both;"></div>
	</div>
</div>
</body>
</html>