<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/head}">
<head>
	<title>博客</title>
	<link th:href="@{/css/user/articles.css}" rel="stylesheet">
	<script th:src="@{/js/user/articles.js}"></script>
</head>
<body>
<div layout:fragment="content">
	<div id="main">
		<div id="top">
			<p>东方不败的博客</p>
			<p>座右铭座右铭座右铭座右铭座右铭座右铭座右铭座右铭</p>
		</div>
		<div id="articles">
			<div class="pull-left" th:text="${title}"></div>
			<div class="pull-right">
				<input type="text" name="keywords" class="form-control " placeholder="搜博主文章">
				<a  class="layui-icon">&#xe615;</a>
			</div>
			<div id="article" style="clear: both;margin-top: 50px;">
			</div>
			<input id="uid" type="hidden" name="uid" th:value="${uid}"/>
			<input id="cid" type="hidden" name="cid" th:value="${cid}?${cid}"/>
		</div>
		<div id="side">
			<div id="user-info">
				<div id="header">
					<img th:src="@{${user.headUrl}}">
					<div>
						<span th:text="${user.name}"></span>
						<button class="btn btn-default">关注</button>
					</div>
				</div>
				<div id="num">
					<dl>
						<dt>入驻时间</dt>
						<dd th:text="${#dates.format(user.birth,'yyyy.MM.dd')}"></dd>
					</dl>
					<dl>
						<dt>文章</dt>
						<dd>12</dd>
					</dl>
					<dl>
						<dt>关注</dt>
						<dd>32</dd>
					</dl>
				</div>
			</div>
			<div class="side-list">
				<h3>文章分类</h3>
				<ul class="list">
					<li th:if="${categories} != null and ${#lists.size(categories) > 0}" th:each="category : ${categories}">
						<a th:href="@{/article/list/{uid}/{cid}(uid=${user.id},cid=${category.id})}" th:text="${category.name}">Java基础知识Java基础知识Java基础知识</a>
						<span th:text="${category.articleNum}"></span>
					</li>
				</ul>
				<div style="clear: both"></div>
			</div>
			<div class="side-list">
				<h3>热门文章</h3>
				<ul class="list">
					<li>
						<a href="#">Java基础知识Java基础知识Java基础知识</a>
						<span class="layui-icon">&#xe705 200</span>
					</li>
					<li>
						<a href="#">Java基础知识</a>
						<span class="layui-icon">&#xe705 30</span>
					</li>
				</ul>
				<div style="clear: both"></div>
			</div>
		</div>
		<div style="clear: both;"></div>
	</div>
</div>
</body>
</html>