<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Cache-Control" content="no-cache">
	<meta http-equiv="Expires" content="0">
	<title>博客</title>
	<link th:href="@{/css/user/article.css}" rel="stylesheet">
</head>
<body>
	<div th:replace="common/head"></div>
	<div id="main">
		<div id="left-side">
			<div id="article">
				<div id="title">
					<h3>一文看懂张小龙 2018 微信公开课演讲</h3>
					<div>
						<span>2018年01月15日 19:34:47</span>
						<span>分类：<a href="#">java</a>，<a href="#">算法</a></span>
						<span class="layui-icon pull-right">&#xe6b2 200</span>
						<span class="layui-icon pull-right">&#xe705 34</span>
					</div>
				</div>
				<div id="content">
					<p>今天上午，张小龙在微信公开课上发表演讲，并发布了微信 2018 的全新计划，微信的每一步其实都影响着互联网时代的格局与趋势，所以，每个互联网人都该关注着微信的一举一动，这篇文章，就给大家解读下一些重要信息。</p>

					<p>其实，这场微信公开课，张小龙的演讲总结起来有如下几点：</p>

					<ul>
					<li><p>公众号独立的 App 要来了；</p></li>
					<li><p>公众号 iOS 赞赏功能将恢复，但是以赞赏作者为主要形式；</p></li>
					<li><p>订阅号不会变信息流；</p></li>
					<li><p>小程序不是为电商准备的，为所有领域而做，是一个通用的平台；</p></li>
					<li><p>小程序不会获得微信的额外导流。</p></li>
					<li><p>小游戏是微信报以最大希望的项目，也是准备花最大时间做好的事情；</p></li>
					</ul>

					<p>前面三点是关于公众号的，老读者都知道，我很早就号召大家写作，并且建议大家写作、英语和编程是新时代最重要的三个技能，未来很可能会对你的人生有着非同一般的影响，很早以前我就记得，我的知识星球的球友问过我，他想开始写作，但是不知道该选择哪个平台？</p>

					<p>我当时给他的回答是：</p>

					<p>这几年内容创业很火，尤其基于微信公众号内容创业，孕育出了一大批牛逼的公司，现在虽然时机有些晚，享受不到流量红利了，但是公众号仍然是这个时代内容创业以及建立个人品牌的最好平台，所以写作首推微信公众号平台。</p>

					<p>很庆幸，我的建议当时被部分球友听进去了，并且一年过后，不少球友已经靠写作提升自己的同时也积累了些影响力，有的还靠写作赚到了钱。</p>

					<p>然而，即使是现在，我还是要建议我所有的读者，微信公众号目前仍然是这个时代内容创业以及建立个人品牌的最好平台，没有之一。</p>

					<p>微信马上要推出独立的公众号 App，对于作者对后台管理和创作更加便利，并且单独的 App，想象空间更大，未来可以有新的玩法说不定，而且 iOS 赞赏也很快恢复，经常写公众号的都知道，赞赏的钱其实很少，但是那种认可的鼓励作用巨大，而且以后赞赏将面向内容原创作者，不再是订阅号本身，毫无疑问，微信对原创作者的扶持有目共睹的。</p>

					<p>4、5 两点是关于小程序的，我也说下我的看法。从张小龙对小程序的执着让我非常佩服，佩服的是他作为一个产品经理，很清晰的知道自己要做什么，完全不受外界干扰，小程序的这两年可以说是完全按部就班的在推进，哪怕被诟病，哪怕中间的数据并不让人满意，但是他相信自己的判断，这种「克制」与「执着」的特质值得每位产品经理去学习。</p>

					<p>我之前说过，互联网时代，流量就是一切。然而，移动互联网发展的这么多年，流量红利早已不在，现在的市场，获取流量是最难的，所以看到，很多企业不惜砸重金去推广，而推广的本质就是为了获取流量，但是微信这么一个庞大的帝国，自带流量，微信生态的流量想象空间巨大，别的不说，光圣诞节的一个「给头像加圣诞帽」小程序流量随随便便就破了千万，足以说明，小程序想象空间非常大，尤其是现在放开了各种权限，在微信内部传播方便、使用便捷，使小程序未来可能会是创业的首选平台，当然，并不是说 App 会淘汰，App 和小程序有不同的使用场景，他们完全可以共存，而张小龙自己也说，小程序，未来在线下的使用场景潜力很大，有待挖掘，相信小程序在未来有更大的想象空间，值得每位开发者和创业者重视。</p>

					<p>最后，再说说小游戏，张小龙的原话是「小游戏是微信报以最大希望的项目」，足以说明，基于小程序体系的「游戏」是多么被重视。小程序和小游戏的关系，就有点类似手机和手游的关系，看看移动互联网时代，手游的发展，可以想象到，以后小游戏的潜力同样巨大，虽然这个时代竞争压力很大，人人焦虑，但是看看我们周围的环境，有没有发现一些变化？如果你没关注到大的经济形势，可能你真的有点落伍了，旅游业越来越发达，是人物不是人物都可以当导演拍电影，一个直播答题竟如此火爆，本质上我们处在消费升级的时代，处于全民娱乐的年代，而小游戏降低了游戏门槛，也顺应了全民娱乐的大趋势，一旦小程序使用范围更广，那么相对应的小游戏产业也会更加完备，只要有好的创意，未来诞生一些现象级的小游戏指日可待，非常有想象空间。所以，建议所有游戏开发者，随时关注小游戏开发的技术与动向，发挥你的创意，说不定小程序界的「Flappy Bird」不久就会产生。</p>

					<p>当然了，不管如何发展，一旦发展不错，腾讯一定是最大的受益方，毕竟小程序是一个平台，而且发布会没多久，腾讯就宣布育碧与微信达成战略合作，Ketchapp 将上线数款小游戏。很多人可能不了解育碧，育碧英文名是「Ubisoft」，是一家全球知名的游戏制作公司，「雷曼」、「波斯王子」、「彩虹六号」等火爆游戏就是这家公司出品，这还不足以说明什么吗？游戏开发者们的春天也许来了。</p>

					<p>以上，就是我从这次公开课看到的一些未来趋势的解读，全部是个人观点，仅做参考，您不认同，那么请忽略，或者当做扯淡看看就好，如果您认同，那么请提前做好准备，只有紧跟趋势，你才能比别人更容易抓住机会。</p>

					<p>PS：本文原创发布于公众号「googdev」，关注并回复「1024」你懂得。</p>               
				</div>
			</div>
			<div id="comment">
				<div class="comment-write">
					<img src="https://images.nowcoder.net/head/349m.png@0e_100w_100h_0c_1i_1o_90Q_1x.png">
					<form class="comment-input">
						<textarea class="form-control" placeholder="写下你的评论..."></textarea>
						<a>发送</a>
						<a>取消</a>
						
					</form>
					<div style="clear: both;"></div>
				</div>
				<div id="comment-list">
					<div class="comment">
						<div class="parent-comment">
							<a href="#">
								<img src="https://images.nowcoder.net/head/349m.png@0e_100w_100h_0c_1i_1o_90Q_1x.png">
								<span>东方不败东方不败</span>
							</a>
							<span>2016-03-22 16:20</span>
							<span>1楼</span>
							<a>回复</a>
							<p>楼主生产环境用过这套环境么楼主生产环境用过这套环境么</p>
						</div>
					</div>
					<div class="comment">
						<div class="parent-comment">
							<a href="#">
								<img src="https://images.nowcoder.net/head/349m.png@0e_100w_100h_0c_1i_1o_90Q_1x.png">
								<span>东方不败东方</span>
							</a>
							<span>2016-03-22 16:20</span>
							<span>1楼</span>
							<a>回复</a>
							<p>楼主生产环境用过这套环境么楼主生产环境用过这套环境么</p>
						</div>
					</div>
					<div class="comment">
						<div class="parent-comment">
							<a href="#">
								<img src="https://images.nowcoder.net/head/349m.png@0e_100w_100h_0c_1i_1o_90Q_1x.png">
								<span>东方不败东方</span>
							</a>
							<span>2016-03-22 16:20</span>
							<span>1楼</span>
							<a>回复</a>
							<p>楼主生产环境用过这套环境么楼主生产环境用过这套环境么</p>
						</div>
					</div>
					<div class="comment">
						<div class="parent-comment">
							<a href="#">
								<img src="https://images.nowcoder.net/head/349m.png@0e_100w_100h_0c_1i_1o_90Q_1x.png">
								<span>东方不败东方不败</span>
							</a>
							<span>2016-03-22 16:20</span>
							<span>1楼</span>
							<a>回复</a>
							<p>楼主生产环境用过这套环境么楼主生产环境用过这套环境么</p>
						</div>
						<div class="sub-comment-list">
							<div class="sub-comment">
								<div>
									<a href="#">limin</a>：
									<a href="#">@东方不败东方不败</a>
									<span>主辛苦，楼主威武，弱弱的问一句，现在这套主辛苦，楼主威武，弱弱的问一句，现在这套主辛苦，楼主威武，弱弱的问一句，现在这套主辛苦，楼主威武，弱弱的问一句，现在这套主辛苦，楼主威武，弱弱的问一句，现在这套</span>
								</div>
								<span>2018.02.28 16:15 </span>
								<a>回复</a>
							</div>
							<div class="sub-comment">
								<div>
									<a href="#">limin</a>：
									<a href="#">@东方不败东方不败</a>
									<span>主辛苦，楼主威武，弱弱的问一句，现在这套主辛苦，楼主威武，弱弱的问一句，现在这套主辛苦，楼主威武，弱弱的问一句，现在这套主辛苦，楼主威武，弱弱的问一句，现在这套主辛苦，楼主威武，弱弱的问一句，现在这套</span>
								</div>
								<span>2018.02.28 16:15 </span>
								<a>回复</a>
							</div>
							<div class="sub-comment">
								<div>
									<a href="#">limin</a>：
									<a href="#">@东方不败东方不败</a>
									<span>主辛苦，楼主威武，弱弱的问一句，现在这套主辛苦，楼主威武，弱弱的问一句，现在这套主辛苦，楼主威武，弱弱的问一句，现在这套主辛苦，楼主威武，弱弱的问一句，现在这套主辛苦，楼主威武，弱弱的问一句，现在这套</span>
								</div>
								<span>2018.02.28 16:15 </span>
								<a>回复</a>
							</div>
							<div class="sub-comment">
								<div>
									<a href="#">limin</a>：
									<a href="#">@东方不败东方不败</a>
									<span>主辛苦，楼主威武，弱弱的问一句，现在这套主辛苦，楼主威武，弱弱的问一句，现在这套主辛苦，楼主威武，弱弱的问一句，现在这套主辛苦，楼主威武，弱弱的问一句，现在这套主辛苦，楼主威武，弱弱的问一句，现在这套</span>
								</div>
								<span>2018.02.28 16:15 </span>
								<a>回复</a>
							</div>
						</div>
					</div>
					<div class="comment">
						<div class="parent-comment">
							<a href="#">
								<img src="https://images.nowcoder.net/head/349m.png@0e_100w_100h_0c_1i_1o_90Q_1x.png">
								<span>东方不败东方</span>
							</a>
							<span>2016-03-22 16:20</span>
							<span>1楼</span>
							<a>回复</a>
							<p>楼主生产环境用过这套环境么楼主生产环境用过这套环境么</p>
						</div>
					</div>
				</div>
				<div class="text-center" id="page"></div>
			</div>
		</div>
		<div id="side">
			<div id="user-info">
				<div id="header">
					<img src="https://images.nowcoder.net/head/349m.png@0e_100w_100h_0c_1i_1o_90Q_1x.png">
					<div>
						<span>东方不败东方不败</span>
						<button class="btn btn-default">关注</button>
					</div>
				</div>
				<div id="num">
					<dl>
						<dt>入驻时间</dt>
						<dd>12年12个月</dd>
					</dl>
					<dl>
						<dt>文章</dt>
						<dd>12</dd>
					</dl>
					<dl>
						<dt>关注</dt>
						<dd>32</dd>
					</dl>
				</div>
			</div>
			<div class="side-list">
				<h3>文章分类</h3>
				<ul class="list">
					<li>
						<a href="#">Java基础知识Java基础知识Java基础知识</a>
						<span>4篇</span>
					</li>
					<li>
						<a href="#">Java基础知识</a>
						<span>3篇</span>
					</li>
				</ul>
				<div style="clear: both"></div>
			</div>
			<div class="side-list">
				<h3>热门文章</h3>
				<ul class="list">
					<li>
						<a href="#">Java基础知识Java基础知识Java基础知识</a>
						<span class="layui-icon">&#xe705 200</span>
					</li>
					<li>
						<a href="#">Java基础知识</a>
						<span class="layui-icon">&#xe705 30</span>
					</li>
				</ul>
				<div style="clear: both"></div>
			</div>
		</div>
		<div style="clear: both;"></div>
	</div>

<script th:src="@{/js/user/article.js}"></script>
</body>
</html>