<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/backend}">
<head>
	<title>博客</title>
	<link rel="stylesheet" th:href="@{/summernote/summernote.css}">
	<link th:href="@{/css/manage/article/edit.css}" rel="stylesheet">
	<script th:src="@{/summernote/summernote.js}"></script>
	<script th:src="@{/summernote/lang/summernote-zh-CN.js}"></script>
	<script th:src="@{/js/manage/article/edit.js}"></script>
<body>
<div layout:fragment="right">
	<form method="post" class="layui-form">
		<div class="layui-form-item">
			<div class="layui-input-block" style="margin: 0">
				<div style="display: inline-block;width: 100px;">
					<select name="type" lay-verify="required">
						<option value="">请选择</option>
						<option th:value="${type.val}" th:text="${type.msg}" th:each="type : ${types}">
						</option>
					</select>
				</div>
				<input type="text" name="title" required style="display: inline-block;width: 900px" lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
			</div>
		</div>
		<div>
			<textarea id="summernote" name="content"></textarea>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label" style="width: 100px;">个人分类：</label>
			<div class="layui-input-block">
				<input type="checkbox" name="cId" th:each="category : ${categories}" th:title="${category.name}" th:value="${category.id}"/>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label" style="width: 100px;">博客分类：</label>
			<div class="layui-input-block" style="padding-right: 10px; width: 300px;">
				<select name="sysCateId" lay-verify="required">
					<option value=""></option>
					<option th:value="${sysCategory.id}" th:text="${sysCategory.name}" th:each="sysCategory : ${sysCategories}">
					</option>
				</select>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label" style="width: 100px;">私密文章：</label>
			<div class="layui-input-block">
				<input type="checkbox" name="isPrivate" title="私密">
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="layui-btn" lay-submit lay-filter="publish">立即提交</button>
				<button class="layui-btn" lay-submit lay-filter="draft">保存草稿</button>
				<button type="reset" class="layui-btn layui-btn-primary">返回</button>
			</div>
		</div>
	</form>
</div>
</body>
</html>