<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/backend}">
<head>
	<title>文章管理</title>
	<link th:href="@{/css/manage/article/list.css}" rel="stylesheet">
	<script th:src="@{/js/manage/article/list.js}"></script>
<body>
<div layout:fragment="right">
	<div class="layui-tab layui-tab-brief" lay-filter="test1">
		<ul class="layui-tab-title">
			<li class="layui-this" lay-id="0">已发表</li>
			<li lay-id="1">草稿箱</li>
			<li lay-id="2">回收站</li>
			<div id="search">
				<input type="text" class="form-control" name="key">
				<a href="#" class="layui-icon">&#xe615;</a>
			</div>
		</ul>

		<div class="layui-tab-content">
			<div class="layui-tab-item layui-show"></div>
			<div class="layui-tab-item"></div>
			<div class="layui-tab-item"></div>
		</div>
	</div>
</div>

</body>
</html>