#category-input{
	width: 300px; display: inline-block;
	margin-right: 10px;
}
a.cate-btn{
	text-decoration: none;
	cursor: pointer;
	color: #349edf;
}
a.cate-btn:hover{
	text-decoration: none;
	cursor: pointer;
	color: #34bfff;
}
a.cate-cal{
	text-decoration: none;
	cursor: pointer;
	color: red;
}
a.cate-cal:hover{
	text-decoration: none;
	cursor: pointer;
	color: red;
}