#main{
    margin: auto; margin-top: 30px;width: 1190px;
    background-color: white;
    margin-bottom: 100px;
    min-height: 400px;
}

#type-list{
    float: left; width: 145px;padding: 0 0;
    padding-top: 20px;
}
#type-list a{
    display: block;
    text-decoration: none;
    padding: 12px 30px;
    height: 45px;
}
#type-list a:hover{
    background-color: red;
    color: white;
}
#type-list div{
    margin-bottom: 20px;
}
#type-list span{
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px;
    margin-left: 20px;
    color: #bbb;
}

#right{
    float: right;
    width: 1045px;
    min-height: 400px;
    border-left: 1px solid #e9e9e9;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
}

#nav-tabs{
    border-bottom: 1px solid #e9e9e9;
    align-items: center;
    margin-top: 10px;

}
#nav-tabs span{
    height: 38px;
    display: inline-block;
}
#nav-tabs span a{
    margin-right: 24px;
    padding-bottom: 14px;
    color: #999;
    text-decoration: none;
}
#tab-pane{
    padding: 10px 0 16px 0;
}