body {
    background-color: rgb(248,248,248);
}
a{
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}
.nav{
    font-size: 18px;
}
.navbar-default .navbar-nav>li>a:hover{
    background-color: #eee;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
.dropdown{
    height: 50px;
    width: 70px;
}
.dropdown a{
    height: 50px;
    padding: 5px;
    width: 82px;
}
.dropdown a img{
    width: 34px;height: 34px;
    margin-top: -5px;
}
.dropdown-menu li a{
    padding: 3px 0px;
    padding-left: 40px;
    height: 34px;
    width: 100%;
    font-size: 16px;
}
.dropdown-menu li a:hover{
    background-color: #eee;
}

#search-input{
    width: 200px;
    display: inline-block;
    margin-right: -20px;
    padding-right: 27px;
    transition: width .5s;
    -moz-transition: width .5s;
    -webkit-transition: width .5s;
    -o-transition: width .5s;
    transition-delay: .1s;
    -moz-transition-delay: .1s;
    -webkit-transition-delay: .1s;
}
#search-input:focus{
    width: 280px;
}
#search-btn{
    position: relative;
    right: 10px;
    text-decoration: none;
    cursor: pointer;
}
#write{
    width: 100px;
    height: 38px;
    border-radius: 20px;
    color: #fff;
    background-color: #ea6f5a;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 8px;
    margin-left: 12px;
}