<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/backend}">
<head>
	<title>博客</title>
	<link th:href="@{/css/manage/category/list.css}" rel="stylesheet">
	<script th:src="@{/js/manage/category/list.js}"></script>
<body>
<div layout:fragment="right">
			<div>
				<input id="category-input" type="text" class="form-control" name="">
				<a id="category-btn" class="cate-btn"> 添加分类</a>
			</div>
			<div style="margin-top: 20px;">
				<table class="table table-hover"  id="category-table">
					<tr>
						<th style="width: 60%;">类别</th>
						<th>文章数</th>
						<th>操作</th>
					</tr>
					<tr th:each="category : ${categories}" th:id="${category.id}">
						<td th:text="${category.name}"></td>
						<td th:text="${category.articleNum}"></td>
						<td>
							<a class="cate-btn">编辑</a> |
							<a class="cate-cal">删除</a>
						</td>
					</tr>
				</table>
			</div>
</div>

</body>
</html>