<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/head}">
<head>
	<title>博客首页</title>
	<link th:href="@{/css/index.css}" rel="stylesheet">
	<script th:src="@{/js/index.js}"></script>
</head>
<body>
	<div layout:fragment="content">
	
		<p id="back-to-top"><a href="#main">返回顶部</a></p>
		<div id="main">
			<div style="float: left">
				<div id="type-list">
					<a th:class="${sysCateId}==-1?'actived':''" th:href="@{/index}">全部</a>
					<a th:each="sysCategory : ${sysCategories}" th:class="${sysCateId}==${sysCategory.id}?'actived':''"
					   th:href="@{/index(sysCateId=${sysCategory.id})}" th:text="${sysCategory.name}"></a>
				</div>
				<div id="articles">
				</div>
				<input id="sysCateId" type="hidden" name="sysCateId" th:value="${sysCateId}==null?'':${sysCateId}"/>
			</div>

			<!--<div id="side">-->
				<!--<div id="blogstar">-->
					<!--<h3>博客之星</h3>-->
					<!--<div class="star">-->
						<!--<a href="#">-->
							<!--<div class="pic">-->
								<!--<img src="https://images.nowcoder.net/head/349m.png@0e_100w_100h_0c_1i_1o_90Q_1x.png" class="img-circle" >-->
							<!--</div>-->
							<!--<div class="info">-->
								<!--<p>东方不败东方不败东方不败东方不败东方不败东方不败</p>-->
								<!--<span>软件工程师</span>-->
								<!--<span class="pull-right">1000篇</span>-->
							<!--</div>-->
						<!--</a>-->
					<!--</div>-->
					<!--<div class="star">-->
						<!--<a href="#">-->
							<!--<div class="pic">-->
								<!--<img src="https://images.nowcoder.net/head/349m.png@0e_100w_100h_0c_1i_1o_90Q_1x.png" class="img-circle" >-->
							<!--</div>-->
							<!--<div class="info">-->
								<!--<p>东方不败</p>-->
								<!--<span>软件工程师</span>-->
								<!--<span class="pull-right">1000篇</span>-->
							<!--</div>-->
						<!--</a>-->
					<!--</div>-->
					<!--<div class="star">-->
						<!--<a href="#">-->
							<!--<div class="pic">-->
								<!--<img src="https://images.nowcoder.net/head/349m.png@0e_100w_100h_0c_1i_1o_90Q_1x.png" class="img-circle" >-->
							<!--</div>-->
							<!--<div class="info">-->
								<!--<p>东方不败东方不败</p>-->
								<!--<span>软件工程师</span>-->
								<!--<span class="pull-right">1000篇</span>-->
							<!--</div>-->
						<!--</a>-->
					<!--</div>-->
				<!--</div>-->
				<!--<br>-->
				<!--<div style="height: 450px;background-color: white"></div>-->
				<!--<br>-->
				<!--<div style="height: 450px;background-color: white"></div>-->
				<!--<br>-->
			<!--</div>-->

			<div style="clear: both;"></div>
		</div>
	</div>
</div>
</body>
</html>