<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/head}">
<head>
    <title>搜索</title>
    <link th:href="@{/css/search.css}" rel="stylesheet">
    <script th:src="@{/js/search.js}"></script>
</head>
<body>
<div layout:fragment="content">
    <input type="hidden" id="keywords" th:value="${keywords}">
    <input type="hidden" id="type" value="article">
    <div id="main">
        <div id="search_area">
            <input type="text" class="form-control" id="search_input" name="key" th:value="${keywords}">
            <button class="layui-btn">搜索</button>
        </div>
        <div class="layui-tab layui-tab-brief" lay-filter="test1">
            <ul class="layui-tab-title">
                <li th:class="${type}=='article'?'layui-this':''" lay-id="0">文章</li>
                <li th:class="${#strings.equals(type,'topic')}?'layui-this':''" lay-id="1">帖子</li>
            </ul>

            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show"></div>
                <div class="layui-tab-item"></div>
            </div>
        </div>
    </div>
</div>

</body>
</html>