<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/backend}">
<head>
	<title>文章评论管理</title>
	<link th:href="@{/css/manage/comment/list.css}" rel="stylesheet">
	<script th:src="@{/js/manage/comment/list.js}"></script>
<body>

<div layout:fragment="right">
	<div class="layui-tab layui-tab-brief" lay-filter="test1">
		<ul class="layui-tab-title">
			<li class="layui-this" lay-id="0">我的文章评论</li>
			<li lay-id="1">我发表的评论</li>
		</ul>

		<div class="layui-tab-content">
			<div class="layui-tab-item layui-show"></div>
			<div class="layui-tab-item"></div>
		</div>
	</div>
</div>

</body>
</html>